
@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>test</h1>
<h3> burası bizim sayfa </h3>

<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Şehmus</td>
        <td>Yazılım</td>
    </tr>

    <tr>
        <td>2</td>
        <td>murat</td>
        <td>Eğitmen</td>
    </tr>


</table>